# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit syntax highlighting & attributes
*.py text diff=python
*.md text
*.toml text
*.yaml text
*.yml text
*.json text
*.svg text
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.whl binary
*.gz binary
